.carousel(ng-mouseenter='pause()', ng-mouseleave='play()', ng-swipe-right='prev()', ng-swipe-left='next()')
  ol.carousel-indicators(ng-show='slides.length > 1')
    li(ng-repeat='slide in slides track by $index', ng-class='{active: isActive(slide)}', ng-click='select(slide)')
  .carousel-inner(ng-transclude='')
  .carousel-controls
    a.left.c-control(ng-click='prev()', ng-show='slides.length > 1')
      span.glyphicon.glyphicon-chevron-left
    a.right.c-control(ng-click='next()', ng-show='slides.length > 1')
      span.glyphicon.glyphicon-chevron-right
