.section-header {
  text-align: center;
  &.padded-header {
    margin-bottom: 50px;
    margin-top: 85px;
  }
  h3 {
    color: $blue-color;
    margin: 0 0 15px;
  }
  .text {
    color: $dark-blue-color;
    font-size: 16px;
    line-height: 28px;
    p {
      font-size: 16px;
      line-height: 28px;
    }
    margin-bottom: 32px;
  }
  &.finance-section-header {
    h1 {
      color: $white;
    }
    p {
      font-size: 22px;
    }
  }
}

.blue-rect {
  background: $blue-color;
  &.dark-blue-rect {
    background: $dark-blue-color;
  }
  &.no-lift {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 55px;
  }
  &.green-blue-rect {
    background: $gree-blue-color;
  }
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.5);
  margin-top: -55px;
  margin-bottom: 85px;
  position: relative;
  h1,
  h2,
  h3,
  .text {
    color: #fff;
  }
  h1,
  h2,
  h3 {
    margin-top: 55px;
  }
  .stickers {
    margin: {
      top: 0;
      bottom: 0;
    }
    ;
    .stick {
      background: transparent;
      box-shadow: none;
      border-radius: 0;
      color: $white;
      min-height: 0;
      padding-top: 0;
      .w-circle {
        background-color: $gree-blue-color;
        box-shadow: 0 0 13px rgba(0, 0, 0, .7s);
        position: relative;
        top: auto;
        left: auto;
        margin: 0 auto 25px;
      }
      strong,
      p {
        font-size: 20px;
      }
    }
  }
}

.row-learning {
  margin-bottom: 110px;
}

.slide {
  background: #fff;
}

.light-blue-section {
  padding-bottom: 95px;
  padding-top: 95px;
  background: $light-blue-color;
  .section-header {
    h2 {
      margin: 0 0 15px;
      font-weight: 700;
    }
    h2,
    .text {
      color: $white;
    }
    .text {
      font-size: 17px;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
}

.carousel {
  height: 388px;
  margin-bottom: 150px;
  .carousel-inner {
    height: 388px;
  }
  .carousel-inner .item {
    height: 388px;
    iframe {
      width: 72%;
      margin: 0;
      padding: 0;
      height: 388px;
      left: 0;
      position: absolute;
      top: 0;
    }
    .carousel-caption {
      left: auto;
      right: 0;
      position: absolute;
      top: 0;
      width: 30%;
      height: 388px;
      background: $white;
      padding: 90px 60px 90px 90px;
      text-align: left;
      h4 {
        color: $blue-color;
        text-shadow: none;
        font-size: 24px;
        line-height: 1;
        margin: 0 0 30px;
      }
      p {
        color: #000;
        text-shadow: none;
        font-size: 17px;
        line-height: 24px;
      }
    }
  }
  .carousel-controls {
    height: 120px;
    width: 120px;
    left: 70%;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    margin-left: -60px;
    z-index: 10;
  }
  .c-control.left,
  .c-control.right {
    display: block;
    float: left;
    background: $blue-color;
    opacity: .5;
    position: relative;
    &:hover {
      opacity: 1;
    }
    span {
      padding: 40px 5px 40px 30px;
      margin: 0;
      display: block;
      color: $white;
      font-size: 25px;
    }
    &.right {
      span {
        padding: 40px 30px 40px 5px;
      }
    }
  }
}

.intersect-ancestor {
  margin-top: -192px;
}

.blue-background {
  background-color: $blue-color;
}

.green-blue-background {
  background-color: $gree-blue-color;
}

.newsletter {
  text-align: center;
  position: relative;
  h3 {
    color: $white;
    margin: 30px 0;
  }
  form {
    box-shadow: 1px 0px 21px 0px rgba(0, 0, 0, 0.5);
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -32.5px;
    z-index: 200;
    width: 100%;
    button[type="submit"],
    input[type="email"] {
      @include ssp-regular($size: "18px", $lH: "1", $fW: "700");
      border: 0;
      border-radius: 0;
      padding: 20px 0;
      height: 65px;
      display: inline-block;
      vertical-align: bottom;
      @media (max-width: $screen-sm-max) {
        font-size: 13px;
      }
    }
    input[type="email"] {
      background: #fff;
      font-weight: 300;
      padding: 20px 25px;
      width: 60%;
    }
    button[type="submit"] {
      color: #fff;
      text-transform: uppercase;
      background-color: $light-blue-color;
      width: 40%;
    }
  }
}

.letter-parent {
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 0;
  .letter {
    display: inline-block;
    position: relative;
    height: 222px;
    width: 80%;
    max-width: 778px;
    background: url('/assets/images/letter-mid.png') repeat-x 0 0;
    .right,
    .left {
      height: 222px;
      width: 219px;
      position: absolute;
      top: 0;
      &.left {
        left: 0;
        background: url('/assets/images/letter-left.png') no-repeat 0 0;
      }
      &.right {
        right: 0;
        background: url('/assets/images/letter-right.png') no-repeat 0 0;
      }
    }
  }
}

#footer {
  background: $blue-grey-color;
  font-size: 0;
  position: relative;
  text-align: center;
  .horizontal-dib-helper {
    display: inline-block;
    height: 1px;
    width: 100%;
  }
  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: 20px;
      a {
        color: $white;
      }
      &:first-child {
        margin-left: 0;
      }
    }
    &.site-nav {
      margin-top: 35px;
      li a {
        @include ssp-regular($size: "15px", $fW: "400", $lH: "1");
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &.social-nav {
      margin-top: 45px;
      li a {
        display: inline-block;
        padding: 0;
        height: 35px;
        width: 35px;
        line-height: 1;
        border: 2px solid $white;
        border-radius: 150px;
        i {
          color: $white;
          &.fa-twitter {
            font-size: 13.5px;
            padding: 9px 11px;
          }
          &.fa-facebook {
            padding: 9px 12px 8px;
          }
        }
      }
    }
  }
  .logo {
    color: $white;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
  }
  span {
    @include ssp-regular($size: "15px", $fW: "300", $lH: "1");
    color: #fff;
    display: inline-block;
    margin: 20px 0 35px;
  }
}

.how-it-works {
  margin-top: 50px;
  // h1 {
  //   font-size: 0;
  //   position: relative;
  //   text-transform: uppercase;
  //   color: $blue-color;
  //
  //   & > strong,
  //   & > span {
  //       display: inline-block;
  //       width: 50%;
  //   }
  //   strong {
  //     @include ssp-regular($size: "247.77px", $lH: "1", $fW: "700");
  //     text-align: right;
  //     width: 40%
  //   }
  //   span {
  //     @include ssp-regular($size: "69px", $lH: "56px", $fW: "400");
  //     text-align: left;
  //     span {
  //       font-weight: 700;
  //     }
  //   }
  // }
  svg {
    position: relative;
    z-index: 10;
  }
}

.z-index-20 {
  z-index: 20;
  position: relative;
}

.pos-absolute-btns {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  .btn {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: $screen-md) {
  .how-it-works {
    width: 100%;
  }
  .margin-for-sm-dvc {
    margin-top: -28px;
  }
  svg {
    width: 100%;
  }
}

@media only screen and (max-width: $screen-xs-min) {
  .how-it-works {
    width: 100%;
  }
  .margin-for-sm-dvc {
    margin-top: -28px;
  }
  svg {
    width: 100%;
  }
}

@media only screen and (min-width: $screen-md) {
  .how-it-works {
    width: 100%;
  }
  svg {
    width: 100%;
  }
}
