.map-section {
  background-color: #054975;
  background-image: linear-gradient(to top, #054975 0%, #001351 100%);
  background-size: 100% auto;
  min-height: 425px;
  padding: 40px 0 20px;
  h1 {
    color: #fff;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    color: #ffffff;
    font-weight: normal;
  }
}

.offices-list {
  padding: 25px 15px;
  > li {
    list-style: none;
    color: #fff;
    float: left;
    padding: 0 15px;
    text-align: left;
    width: 33.3333%;
    .title {
      display: block;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    .description {
      font-size: 15px;
      line-height: 20px;
      min-height: 40px;
      padding-left: 35px;
      position: relative;
      .w-icon-location {
        left: 0;
        position: absolute;
        top: 0;
      }
      .number {
        display: block;
        font-size: 17px;
        padding-top: 5px;
      }
    }
  }
  > li:nth-child(3n+1) {
    clear: both;
  }
}

.w-icon-location[class*="w-icon"] {
  background-image: url("/assets/images/icon-location.png");
  height: 29px;
  width: 21px;
}

[class*="w-icon"] {
  background-attachment: scroll;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
