main(role='main')
  section.finance-block
    .container
      p
        img(src='/assets/images/icon-bank.png', alt='')    
      h2
        span Finance
        br
        | Select Your Method!    
  .stickers
    .container
      .clearfix.row
        .col-xs-12.col-sm-4.col-sm-offset-2
          .stick
            .w-circle
              .w-icon-circle1
            .caption The Paid Program
            p
              | You pay the full cost of the education upfront without any long term commitment to CodersTrust.
            p
              | You invest both the time and the money to get enrolled and reap all the benefits of CodersTrust.
        .col-xs-12.col-sm-4
          .stick
            .w-circle
              .w-icon-circle2
            .caption The Deposit Model
            p
              | You only pay a small upfront commission, but pay the remaining cost of the education through a 10% commission over a 3 year period.
            p
              | You will invest your time, and we take the financial risk of providing you with world class education where we only make money, if you make money.
          
            p You know that we have a vested interest in making you succeed.
      
        //- .col-xs-12.col-sm-4
        //-   .stick
        //-     .w-circle
        //-       .w-icon-circle3
        //-     .caption The Loan Model
        //-     p
        //-       | You invest the time, and we do the financial investment in your education in exchange of a loan repayment over 18 month and a 10% commission over 3 years.
        //-     p
        //-       | You have little financial risk and you are sure that we&rsquo;ll be 100% committed to support you in your quest to succeed on the freelance market.
  section.finance-block.block2
    .container
      .row.section-header
        .col-xs-12.col-sm-10.col-md-offset-1
          h4
            | Get an overview of our different
            br
            | financing methods here:
  .table-payment
    .container
      table
        thead
          tr
            th
            th
              .blue-skin
                .help
                  .w-icon-circle1.white  
                  .title
                    | The Paid
                    br
                    | Program
            th
              .blue-skin
                .help
                  .w-icon-circle2.white
                  .title
                    | The Deposit
                    br
                    | Model
            //- th
            //-   .blue-skin
            //-     .help
            //-       .w-icon-circle3.white
            //-     
            //-       .title
            //-         | The Loan
            //-         br
            //-         | Model
        tbody
          tr
            td
              .col
                .help
                  strong
                    | Upfront
                    br
                    | payment
            td
              .col-wrap
                .col
                  .help
                    span.value $$$
          
            td
              .col-wrap
                .col
                  .help
                    span.value $
          
            //- td
            //-   .col-wrap
            //-     .col
            //-       .help
            //-         span.cur $ 
            //-         span.value 400
        
          //- tr
          //-   td
          //-     .col
          //-       .help
          //-         strong
          //-           | Loan
          //-           br
          //-           | repayment
          //- 
          //-   td
          //-     .col-wrap
          //-       .col
          //-         .w-circle.light
          //-           span.minus
          //- 
          //-   td
          //-     .col-wrap
          //-       .col
          //-         .w-circle
          //-           i.fa.fa-check
          
            //- td
            //-   .col-wrap
            //-     .col
            //-       a.w-circle.light(href='#')
            //-         span.minus
        
          tr
            td
              .col
                .help
                  strong 10% Commission 
                  | CT provision
                
                  br
                  | Dropout Expectation
            td
              .col-wrap
                .col
                  .w-circle.light
                    i.fa.fa-close
            td
              .col-wrap
                .col
                  .w-circle
                    i.fa.fa-check
            //- td
            //-   .col-wrap
            //-     .col
            //-       a.w-circle(href='#')
            //-         span.plus
