$ct-blue-color: #273B6D;
$ct-green-color: #209665;
$ct-brown-grey-color: #7F7F7F;
$ct-grey-color: #ccc;
$white: #fff;
$ui-blue-color: #0082D5;
$ui-green-color: #04BE5B;
$ui-yellow-green-color: #9DBF16;
$ui-orange-color: #FF9948;
$ui-red-color: #D2335C;
$ui-purple-color: #A93ABA;
$ui-light-asphalt-color: #8493A8;
$ui-dark-asphalt-color: #3D4D65;
$ui-medium-asphalt-color: #54657E;
$ui-grey-color: #ADB9CA;
$ui-light-grey-color: #CAD3DF;
$ui-white-color: #ECEFF4;
$img-path: "/assets/images";


$w-blue-color: #2D22F3;
$w-black-color: #2d2d35;
$w-current-link-color: #2b00f7;
$w-light-blue-color: #6488ff;
$w-grey-color: #767676;
$w-light-grey-color: #d9d9de;

$dark-blue-color: #1f2240;
$blue-color: #001451;
$light-blue-color: #23a5e1;
$light-grey-color: #e8e8e8;
$lighter-grey-color: #9bb1bb;
$blue-grey-color: #607d8b;
$gree-blue-color: #064a75;
$asphalt-color: #425862;
$green-color: #39b54a;
$almost-white: #f3f7f9;
$label-color: #9bb1bb;
$orange-color: #ffa200;
