.modal-header
  h3.modal-title Password recovery
.modal-body
  .errors(ng-show="errors")
    .alert.alert-danger(ng-repeat='(name, message) in errors')
      strong {{name}}&nbsp;
      | {{message}}
  form(name="form" novalidate ng-submit="recoverPassword(form)")
    .form-group(ng-class="{ 'has-error' : form['student[email]'].$invalid && submitted }")
      label(for="student-email") Email
      input#student-email.form-control(type='email', placeholder='Email', name="student[email]", ng-model="form.email", required)
      div(ng-show="form['student[email]'].$invalid && submitted")
        p.help-block(ng-show="form['student[email]'].$error.required")
          | Email is required
        p.help-block(ng-show="form['student[email]'].$error.email")
          | Email is invalid please provide a valid email 
          | for example: example@example.com
    .form-group
      button.btn.btn-success(type="submit") Send instructions
