.modal-header
  h3.modal-title Reset password 
.modal-body
  form.form-stacked-label(name="resetPassword" novalidate)
    .form-group(ng-class="{'has-error': resetPassword.password.$error && submitted }")
      label Password
      input(type="password" name="password" ng-model="student.password" required, ng-minlength="8")
    div(ng-show="resetPassword.password.$invalid && submitted")
      p.help-block(ng-show="resetPassword.password.$error.required")
        | Password is required
      p.help-block(ng-show="resetPassword.password.$error.minlength")
        | Password min length is 8 letters
    .form-group(ng-class="{'has-error': resetPassword.passwordConfirmation.$error && submitted }")
      label Password Confrimantion
      input(type="password" name="passwordConfirmation" ng-model="student.passwordConfirmation" required, valid-password-c="student.password")
    div(ng-show="resetPassword.passwordConfirmation.$error && submitted")
      p.help-block(ng-show="resetPassword.passwordConfirmation.$error.required")
        | Password Confirmation is required
      p.help-block(ng-show="resetPassword.passwordConfirmation.$error.noMatch")
        | Doesn't match a password
.modal-footer
  a.btn.btn-regular(href="" ng-class="{'btn-success': resetPassword.$valid , 'btn-danger': resetPassword.$invalid}" ng-click="sendResetPasswordRequest(resetPassword)")
    | Send