ct-navbar-student(menu-items-data="menuItemsData")
div(ui-view="")
ct-footer-student(website-menu-items-data="websiteMenuItems" student-menu-items-data="studentMenuItems" social-network-navs-data="socialNetworkNavs")
