.recursive-accordion {
  list-style: none;
  padding-left: 0;

  li {
    display: block;
    margin-top: 15px;
    
    &:first-child {
      margin-top: 0;
    }

    li {
      margin-top: 0;
    }

    &.active {
      & > .next {
          transform: rotate(90deg);
      }
      .underscore {
        display: none;
      }
    }

    &.active > ul > li.active > strong {
      padding-left: 45px;
      padding-bottom: 5px;
    }


    &.active > strong > li.active > strong > li.active > strong,
    &.active > strong > li.active > strong,
    &.active > strong {
      display: block !important;
      padding: 20px 0 0 10px;
      margin-bottom: 0 !important;
    }
    
    &.active > ul > li.active > ul > li.active > ul,
    &.active > ul > li.active > ul,
    &.active > ul {
      display: block;
      height: auto;
    }
    &.active > ul > li.active > ul li {
      &.active {
        a {
          background-color: $lighter-grey-color !important;
          &:hover {
            background-color: $lighter-grey-color !important;
          }
          i.fa-chevron-right {
            display: none !important;
          }
          .text,
          i.fa-check-circle {
            color: #fff;
          }

          i.fa-check-circle {
            border-radius: 50%;
            box-shadow: 0 2px 5px transparentize($blue-color, 0.8);
          }
        }
      }

      &:last-child {
        a {
          .underscore {
            display: none;
          }
        }
      }
      a {
        display: block;
        padding: 10px;
        position: relative;

        @include clear-after;

        &:hover {
          background-color: $white;

          i.fa-chevron-right {
            display: block;
          }
          .underscore {
            display: none;
          }
        }


        .underscore {
          left: 0;
          position: absolute;
          bottom: -1px;

          height: 1px;
          width: 100%;

          @include clear-after;

          &:after {
            display: block;
            height: 1px;
            margin-left: 35px;
            background-color: $lighter-grey-color;
          }
        }

        i {
          font-size: 15px;
          height: 17px;
          &.fa-check-circle {
            color: $green-color;
            font-size: 17px;
          }

          &.fa-chevron-right {
            display: none;
            color: $label-color;
            font-size: 11px;
            line-height: 18px;
          }
        }

        .text {
          display: block;
          margin: 0 20px 0 25px;

          font-weight: 400;
          line-height: 1;
          text-transform: none;
        }
      }
    }
    &.active ul {
      padding-left: 10px;
      .name {
        text-transform: none;
      }
    }

    @include clear-after;

    strong {
      display: none !important;
    }

    ul {
      display: none;
      height: 0;
      
      list-style: none;
      transition: all .5s;

      li {
        @include clear-after;
      }

      @include clear-after;
    }
    
    

    .name {
      color: $blue-color;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .name:hover {
      color: $light-blue-color;
      text-decoration: underscore !important;
    }

    .next {
      color: $label-color;
      font-size: 11px;
      transition: transform .2s;

      
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}