ct-navbar(menu-items-data="menuItems" social-data="socialNetworkNavs")
section.section-step.ct-signup-personal-data
  .container
    header.row
      .col-xs-12.col-lg-8.col-lg-offset-2
        h3 Sign In
    article 
      ct-signin-form#personal_data(student="student")