.modal-header
  h3.modal-title {{title}}
.modal-body
  form.form-stacked-label(name="resetPasswordRequest" novalidate)
    .form-group(ng-class="{'has-error': resetPasswordRequest.email.$error && submitted }")
      label Email
      input(type="email" name="email" ng-model="student.email" required)
.modal-footer
  a.btn.btn-regular(href="" ng-class="{'btn-success': resetPasswordRequest.$valid , 'btn-danger': resetPasswordRequest.$invalid}" ng-click="sendResetPasswordRequest(resetPasswordRequest)")
    | Send