//- div(ng-include='"components/navbar/navbar.html"')
//ct-navbar(menu-items-data="menuItems" social-data="socialNetworkNavs")
ct-signup-congrats#congratulations(student="student" learning-center="learningCenter" course="course" education-model="educationModel")
